<% layout('boilerplate') -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3 class="mb-3">Edit your Listing</h3>
                <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" id="title" value="<%= listing.title %>" class="form-control">
                        <div class="valid-feedback">Title looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" id="description" class="form-control"><%= listing.description %></textarea>
                        <div class="invalid-feedback">Please give short description</div>
                    </div>

                    <div class="mb-3">
                        Original Listing Image<br/>
                        <img src="<%= originalImageUrl %>" alt=""/>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input type="file" name="listing[image]" id="image" class="form-control">
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" id="price" value="<%= listing.price %>" class="form-control">
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" id="location" value="<%= listing.location %>" class="form-control" required>
                            <div class="invalid-feedback">Location should be valid</div>
                        </div>
                    </div>
                    
                    <div>
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="country" value="<%= listing.country %>" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                        <br>
                    </div>

                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select name="listing[category]" id="category" class="form-select">
                            <option value="" disabled selected><%= listing.category %></option>
                            <option value="Trending">Trending</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Iconic Cities">Iconic Cities</option>
                            <option value="Mountains">Mountain</option>
                            <option value="Castles">Castles</option>
                            <option value="Amazing Pools">Amazing Pools</option>
                            <option value="Camping">Camping</option>
                            <option value="Farms">Farms</option>
                            <option value="Artic">Artic</option>
                        </select>
                    </div>
                    
                    <button class="btn btn-dark mb-3" style="border: none; background-color: #fe424d;">Edit</button>
                </form>
            </div>
        </div>

    </body>